<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <br />
    <br />
    <br />
    @*<select id="valueSelect">
            <option value="value1">value1</option>
            <option value="value1">value1</option>
        </select>*@
    <select id="valueSelect"></select>
    <button id="btnSubmit">Submit</button>
    <button id="btnSubmitNew">Submit New</button>
    <label id="lblResult"></label>
</body>
</html>